[*]
max_line_length = 150

[*.{kt, kts}]
disabled_rules=no-wildcard-imports,import-ordering,no-consecutive-blank-lines,max-line-length,comment-spacing,import-ordering,no-blank-line-before-rbrace,final-newline,indent,no-multi-spaces,comment-spacing,parameter-list-wrapping