<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.hannes.logcat">

    <application>
        <activity
            android:name="info.hannes.logcat.LogcatActivity"
            android:label="Logcat"
            android:theme="@style/DetailTheme" />
        <activity
            android:name="info.hannes.logcat.LogfileActivity"
            android:label="Timber"
            android:theme="@style/DetailTheme" />
    </application>

</manifest>