<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.hannes.logcat.crashlytic">

    <application>
        <activity
            android:name="info.hannes.logcat.BothLogActivity"
            android:label="All log"
            android:theme="@style/DetailTheme" />
    </application>

</manifest>